@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Montserrat", serif;
}

body {
  display: grid;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  row-gap: 20px;
}
body .myList {
  display: grid;
  justify-content: center;
  flex-direction: column;
  padding: 0px 0 50px;
  row-gap: 20px;
}
body .volume {
  transform: rotate(135deg);
  position: absolute;
  font-size: clamp(0.8em, 3vw, 2em);
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
body .volume:hover {
  transform: scale(1.25) rotate(135deg);
}
body .container {
  position: relative;
  width: clamp(280px, 90vw, 600px);
  padding: 10px 5px;
  display: flex;
}
body .container .chevron {
  position: absolute;
  left: -15px;
  font-size: clamp(0.75em, 2vw, 0.9em);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
body .container .chevron:hover {
  transform: scale(1.2);
}
body .container .chevron:first-child {
  top: 7px;
}
body .container .chevron:nth-child(2) {
  bottom: 7px;
}
body .container.add {
  border-bottom: 1px solid black;
}
body .container input {
  font-size: clamp(1em, 2vw, 1.5em);
  flex-grow: 1;
  border: none;
}
body .container input:focus {
  outline: none;
}
body .container button {
  position: relative;
  background: none;
  border: none;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
body .container button:hover {
  outline: none;
}
body .container button:hover i {
  transform: scale(2);
}
body .container button i {
  font-size: clamp(1em, 10vw, 1.5em);
  transform: scale(1.5);
  transition: all 0.1s ease-in-out;
}
body .container.done {
  order: 1;
  margin-top: auto;
}
body .container.done input {
  color: #aaa;
}
body .container .date {
  position: absolute;
  top: 0;
  font-size: 0.5em;
  color: rgba(0, 0, 0, 0.5);
}