@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Montserrat", serif;
}

body {
  display: grid;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  row-gap: 20px;
  .myList {
    display: grid;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0 50px;
    row-gap: 20px;
  }
  .volume {
    transform: rotate(135deg);
    position: absolute;
    font-size: clamp(0.8em, 3vw, 2em);
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
      transform: scale(1.25) rotate(135deg);
    }
  }
  .container {
    position: relative;
    width: clamp(260px, 90vw, 600px);
    padding: 10px 5px;
    display: flex;
    .chevron {
      position: absolute;
      left: -15px;
      font-size: clamp(0.75em, 2vw, 0.9em);
      transition: transform 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
    .chevron:first-child {
      top: 7px;
    }
    .chevron:nth-child(2) {
      bottom: 7px;
    }
    &.add {
      border-bottom: 1px solid black;
    }
    input {
      font-size: clamp(1em, 2vw, 1.5em);
      flex-grow: 1;
      border: none;
      &:focus {
        outline: none;
      }
    }
    button {
      position: relative;
      background: none;
      border: none;
      color: black;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        outline: none;
        i {
          transform: scale(2);
        }
      }
      i {
        font-size: clamp(1em, 10vw, 1.5em);

        transform: scale(1.5);
        transition: all 0.1s ease-in-out;
      }
    }
    &.done {
      order: 1;
      margin-top: auto;
      input {
        color: #aaa;
      }
      button:nth-child(6) {
        display: none;
      }
    }
    &.important {
      order: -1;
      button .fa-exclamation {
        color: rgb(255, 89, 60);
      }
    }
    .date {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.5em;
      color: rgba(0, 0, 0, 0.5);
      z-index: -1;
    }
  }
}
