* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  row-gap: 20px;
  .container {
    position: relative;
    width: clamp(280px, 90vw, 600px);
    background-color: azure;
    input {
      width: 100%;
    }
  }
}
